{
  "slaves": [
    {
      "ip": "192.168.0.211",
      "port": 23
    }
  ],
  "motion_timeout_sec": 15,
  "target_nighttime_illuminance": 3.0,
  "light_sensor_quantization_error": 0.5,
  "light_control_k_p": 0,
  "light_control_k_i": 0.8,
  "light_control_anti_windup_time": 1
}
