{% include "header.html" %}
<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ chart_title|default('Chart') }}</span>
                            <div class="chart-container" style="max-width: {{ chart_width|default('400px') }}; margin: 0 auto;">
                                <canvas id="chart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
var ctx = document.getElementById("chart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ chart_labels_json|safe }},
        datasets: [{
            data: {{ chart_data_json }},
        }]
    },
    options: {
        legend: {
            display: false
        }
    }
});
</script>
{% include "footer.html" %}
