{% include "header.html" %}
<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ chart_title|default('Chart') }}</span>
                            <div class="chart-container"{% if chart_width %} style="max-width: {{ chart_width|default('400px') }}; margin: 0 auto;"{% endif %}>
                                <canvas id="chart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
var chart_last_timestamp = {{ chart_last_timestamp }};

var ctx = document.getElementById("chart").getContext('2d');
var config = {
    type: 'line',
    data: {
        labels: {{ chart_labels_json|safe }},
        datasets: [{
        {% if dataset_color %}
            backgroundColor: '{{ dataset_color }}',
        {% endif %}
        {% if dataset_border_color %}
            borderColor: '{{ dataset_border_color }}',
            borderWidth: 1,
        {% endif %}
            data: {{ chart_data_json }},
        }]
    },
    options: {
        legend: {
            display: false
        },
        scales: {
           xAxes: [{
                type: 'time',
                time: {
                    format: 'HH:mm::ss',
                },
           }],
           yAxes: [{
                {% if y_scale_label %}
                scaleLabel: {
                    display: true,
                    labelString: '{{ y_scale_label }}'
                },
                {% if suggested_min is not none or suggested_max is not none %}
                ticks: {
                    {% if suggested_min is not none %}
                    suggestedMin: {{ suggested_min}},
                    {% endif %}
                    {% if suggested_max is not none %}
                    suggestedMax: {{ suggested_max}},
                    {% endif %}
                },
                {% endif %}
                {% endif %}
            }],
        },
    }
};
var myChart = new Chart(ctx, config);

function append_new_chart_data() {
    $.post('', {last_timestamp: chart_last_timestamp}, function(data) {
        for (key in data['data']) {
            config.data.labels.push(data['label'][key]);
            config.data.datasets[0].data.push(data['data'][key]);
        }
        myChart.update();
        chart_last_timestamp = data['last_timestamp'];
    });
};

setInterval(append_new_chart_data, {{ refresh_period_ms | default('3000') }});
</script>
{% include "footer.html" %}
