<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/materialize_patch.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" media="screen,projection"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/moment.min.js"></script>
    <script type="text/javascript" src="static/js/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper teal">
            <a href="/" class="brand-logo"><img src="static/img/logo.png"/>&nbsp;{{ site_title }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% for item in navigation %}
                <li{% if item['url'] == request_path %} class="active"{% endif %}><a href="{{ item['url'] }}">{{ item['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
