<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/materialize_patch.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="static/css/style.css" media="screen,projection"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/moment.min.js"></script>
    <script type="text/javascript" src="static/js/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
</head>
<body>
<header>
    <ul id="slave-select-dropdown" class="dropdown-content">
        {% for slave in slaves %}
        <li><a href="/selectslave/{{ loop.index0 }}"><i class="material-icons">{% if loop.index0 == slave_index %}radio_button_checked{% else %}radio_button_unchecked{% endif %}</i> {{slave}}</a></li>
        {% endfor %}
    </ul>
    <nav>
        <div class="nav-wrapper teal">
            <a href="/" class="brand-logo"><img src="static/img/logo.png"/>&nbsp;{{ site_title }}</a>
            <ul class="right hide-on-med-and-down">
                <li id="slave-select"><a class="dropdown-trigger" href="#!" data-target="slave-select-dropdown">{{ slaves[slave_index] }}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% for item in navigation %}
                <li{% if item['url'] == request_path %} class="active"{% endif %}><a href="{{ item['url'] }}">{{ item['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
