{% include "header.html" %}
<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><i class="material-icons">color_lens</i> LED Control</span>
                        </div>
                        <div class="card-tabs" id="led-tabs">
                            <ul class="tabs teal-text">
                                <li class="tab"><a href="#led-tune-rgb" class="active">RGB</a></li>
                                <li class="tab"><a href="#led-tune-hsl">HSL</a></li>
                                {% if light_control %}<li class="tab"><a href="#led-tune-control">Control</a></li>{% endif %}
                            </ul>
                        </div>
                        <div class="card-content">
                            <div id="led-tune-rgb">
                                <table class="invisible"><tbody>
                                    <tr><td style="width: 1%;" title="Red">
                                        <a class="btn-floating btn-small red"></a>
                                    </td><td>
                                        <p class="range-field">
                                            <input type="range" id="led-red" min="0" max="255" value="0"/>
                                        </p>
                                    </td></tr>
                                    <tr><td style="width: 1%;" title="Blue">
                                        <a class="btn-floating btn-small green"></a>
                                    </td><td>
                                        <p class="range-field">
                                            <input type="range" id="led-green" min="0" max="255" value="0"/>
                                        </p>
                                    </td></tr>
                                    <tr><td style="width: 1%;" title="Green">
                                        <a class="btn-floating btn-small blue"></a>
                                    </td><td>
                                        <p class="range-field">
                                            <input type="range" id="led-blue" min="0" max="255" value="0"/>
                                        </p>
                                    </td></tr>
                                </tbody></table>

                                <p class="right">
                                    <a id="led-darker-btn" class="btn-floating waves-effect waves-light teal lighten-2" title="Darker"><i class="material-icons">brightness_4</i></a>
                                    <a id="led-brighter-btn" class="btn-floating waves-effect waves-light teal lighten-2" title="Brighter"><i class="material-icons">brightness_7</i></a>
                                </p>
                            </div>
                            <div id="led-tune-hsl">
                                <table class="invisible"><tbody>
                                    <tr><td style="width: 1%;" title="Hue">
                                        <a class="btn-floating btn-small"><i class="material-icons">donut_large</i></a>
                                    </td><td>
                                        <div class="slider-decoration"><div class="hue-gradient"></div></div>
                                        <p class="range-field">
                                            <input type="range" id="led-hue" min="0" max="100" value="0"/>
                                        </p>
                                    </td></tr>
                                    <tr><td style="width: 1%;" title="Saturation">
                                        <a class="btn-floating btn-small"><i class="material-icons">gradient</i></a>
                                    </td><td>
                                        <p class="range-field">
                                            <input type="range" id="led-saturation" min="0" max="100" value="0"/>
                                        </p>
                                    </td></tr>
                                    <tr><td style="width: 1%;" title="Lightness">
                                        <a class="btn-floating btn-small"><i class="material-icons">brightness_medium</i></a>
                                    </td><td>
                                        <p class="range-field">
                                            <input type="range" id="led-lightness" min="0" max="100" value="0"/>
                                        </p>
                                    </td></tr>
                                </tbody></table>
                            </div>
                            {% if light_control %}
                            <div id="led-tune-control">
                                <p>
                                    <label title="Do not control lights automatically.">
                                        <input name="led-control-mode" type="radio" value="Manual"/>
                                        <span>Manual</span>
                                    </label>
                                </p>
                                <p>
                                    <label title="Enable lights for a short time when movement is detected.">
                                        <input name="led-control-mode" type="radio" value="NightTime"/>
                                        <span>Night-time</span>
                                    </label>
                                </p>
                                <p>
                                    <label title="Keep current level of measured light (increase/decrease lightness as the environment changes).">
                                        <input name="led-control-mode" type="radio" value="KeepIlluminance"/>
                                        <span>Keep illuminance</span>
                                    </label>
                                </p>
                                <p>
                                    <input type="range" class="hide" id="kept-illuminance" min="0" max="30" value="0"/>
                                </p>
                                <p>
                                    <label title="Animation">
                                        <input name="led-control-mode" type="radio" value="Animate"/>
                                        <span>Animate</span>
                                    </label>
                                    <div id="animation-select" class="hide">
                                        <select>
                                            <option value="" disabled selected>Choose animation</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            <a href="#" id="led-undo" class="teal-text no-break" style="display: none;"><i class="tiny material-icons">undo</i> Revert</a>
                            <a href="#" id="led-on" class="teal-text no-break"><i class="tiny material-icons">brightness_high</i> Turn lights ON</a>
                            <a href="#" id="led-off" class="teal-text no-break"><i class="tiny material-icons">block</i> Turn lights OFF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col">
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript">
var activeLedTab = localStorage.getItem('activeLedTab');
if (activeLedTab != null) {
    my_tab = $('div#led-tabs a[href="' + activeLedTab + '"]');
    if (!my_tab.hasClass('active')) {
        $('div#led-tabs a').removeClass('active');
        my_tab.addClass('active');
    }
}

$('.tabs').tabs();
$('select').formSelect();
</script>

{% include "footer.html" %}
